.cm-header-1 {
  color: #00f;
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.cm-header-2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.cm-header-3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}

.cm-header-4{
  display: block;
  font-weight: bold;
}